/* line 3, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
body {
  font-family: "Roboto", "Noto Sans", "Arial", "Helvetica", sans-serif;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87);
  margin: auto;
  margin-top: 320px;
  max-width: 65vw; }
  @media screen and (max-width: 768px) {
    /* line 9, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    html body {
      margin-left: 16px;
      margin-right: 16px;
      max-width: none; } }

/* line 21, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
#main-header {
  position: fixed;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-color: transparent;
  transition: background-color 75ms cubic-bezier(0.4, 0, 0.2, 1); }
  /* line 29, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  #main-header.scrolled {
    background-color: #fafafa; }

/* line 34, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
#primary-title {
  font-size: 112px;
  font-weight: 300;
  font-family: "Roboto Mono", "Fira Mono", "Droid Sans Mono", "Monaco", monospace;
  text-align: center;
  padding: 0px;
  border-bottom: 0px solid transparent;
  margin: 75px 0px;
  transition: margin 275ms cubic-bezier(0.4, 0, 0.2, 1), font-size 275ms cubic-bezier(0.4, 0, 0.2, 1), height 275ms cubic-bezier(0.4, 0, 0.2, 1), padding 275ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 275ms cubic-bezier(0.4, 0, 0.2, 1), background-color 75ms cubic-bezier(0.4, 0, 0.2, 1); }
  /* line 44, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  #primary-title img {
    height: 140px;
    transition: height 275ms cubic-bezier(0.4, 0, 0.2, 1); }
  /* line 49, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  header.scrolled #primary-title {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 0px;
    font-size: 0px;
    height: 24px;
    padding: 20px;
    background-color: #fafafa; }
    /* line 58, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    header.scrolled #primary-title img {
      height: 28px;
      margin-top: -2px;
      margin-right: 0px;
      margin-bottom: -2px;
      margin-left: 0px; }
  @media screen and (max-width: 449px) {
    /* line 34, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    #primary-title {
      font-size: 56px;
      font-weight: 400; }
      /* line 72, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
      #primary-title img {
        height: 112px; } }
  @media screen and (max-width: 369px) {
    /* line 78, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    #primary-title img {
      height: 77px; } }
  @media screen and (max-width: 259px) {
    /* line 84, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    #primary-title img {
      height: 56px; } }

/* line 90, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 16px;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 2px; }

/* line 99, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
#tab-bar {
  margin-top: -48px;
  height: 48px; }

/*# sourceMappingURL=main.css.map */