@import "material";

body {
    @include material-text("Body");
    
    font-family: "Roboto", "Noto Sans", "Arial", "Helvetica", sans-serif;
    background-color: #fafafa;
    color: $primary-text-color;
    margin: auto;
    @media screen and (max-width: $max-mobile-size) {
        html & {
            margin: {
                left: 16px;
                right: 16px;
            }
            max-width: none;
        }
    }
    margin-top: 320px;
    max-width: 65vw;
}

#main-header {
    @include material-elevation(0);
    
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: 1;
    user-select: none;
    background-color: transparent;
    transition: background-color 150ms $swift-out, box-shadow 275ms $swift-out;
    
    &.scrolled {
        @include material-elevation(2);
        
        background-color: #f5f5f5;
        transition: background-color 75ms $swift-out;
    }
}

#primary-title {
    @include material-text("Display 4");
    
    font-family: "Roboto Mono", "Fira Mono", "Droid Sans Mono", "Monaco", monospace;
    text-align: center;
    padding: 0px;
    margin: 75px 0px;
    transition: margin 275ms $swift-out, font-size 275ms $swift-out, height 275ms $swift-out, padding 275ms $swift-out;
    
    img {
        height: 140px;
        transition: height 200ms $swift-out;
    }
    
    header.scrolled & {
        margin: 0px;
        font-size: 0px;
        height: 24px;
        padding: 20px;
        
        img {
            height: 28px;
            margin: {
                top: -2px;
                right: 0px;
                bottom: -2px;
                left: 0px;
            };
        }
    }
    
    @media screen and (max-width: 449px) {
        @include material-text("Display 3");
        
        img {
            height: 112px;
        }
    }
    
    @media screen and (max-width: 369px) {
        img {
            height: 77px;
        }
    }
    
    @media screen and (max-width: 259px) {
        img {
            height: 56px;
        }
    }
}

.card {
    @include material-elevation(2);
    
    margin: 16px;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    color: $primary-text-color;
    
    .mdl-cell & {
        margin: 0px;
    }
    
    img.full, video.full {
        width: calc(100% + 32px);
        height: calc(100% + 32px);
        margin: -16px;
        margin-bottom: -20px;
        object-fit: cover;
    }
    
    img.left {
        float: left;
        height: calc(100% + 32px);
        width: calc(50% + 16px);
        margin: -16px;
        margin-right: 16px;
    }
    
    img.right {
        float: right;
        height: calc(100% + 32px);
        width: calc(50% + 16px);
        margin: -16px;
        margin-left: 16px;
    }
    
    img.top {
        width: calc(100% + 32px);
        margin: -16px;
        margin-bottom: 16px;
    }
}

#tab-bar {
    @include material-text("Button");
    
    position: relative;
    margin-top: -48px;
    height: 48px;
    z-index: 2;
    
    header.scrolled + & {
        z-index: 0;
    }
    
    &:focus, :focus {
        outline: none;
    }
}

#content {
    margin-top: 16px;
    position: relative;
    color: $secondary-text-color;
    
    .page {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        opacity: 1;
        transition: opacity 275ms $swift-out 275ms;
        
        &:not(.selected) {
            opacity: 0;
            transition: opacity 275ms $swift-out;
        }
        
        &.hidden {
            display: none;
        }
    }
}

.typography {
    @include material-text("Body");
    
    color: $primary-text-color;

    p {
        margin: {
            top: 16px;
            right: 0px;
            bottom: 16px;
            left: 0px;
        };
    }

    blockquote {
        color: $secondary-text-color;
        margin: {
            top: 8px;
            right: 0px;
            bottom: 8px;
            left: 8px;
        };
        font-style: italic;
        border-left: 1px solid $divider-color;
        padding: {
            top: 8px;
            right: 0px;
            bottom: 8px;
            left: 24px;
        };

        i, em {
            font-style: normal;
        }

        p {
            margin: {
                top: 0px;
                bottom: 0px;
            }
        }
    }

    h1 {
        @include material-text("Display 2");
    }

    h2 {
        @include material-text("Display 1");
    }

    h3 {
        @include material-text("Headline");
    }

    h4 {
        @include material-text("Title");
    }

    h5 {
        @include material-text("Subheading");
    }

    h6 {
        @include material-text("Body 2");
    }

    hr {
        margin: {
            top: 16px;
            right: -16px;
            bottom: 16px;
            left: -16px;
        };
        border: none;
        border-bottom: 1px solid $divider-color;
    }

    ul, ol {
        padding-left: 20px;
        margin: {
            top: 16px;
            right: 0px;
            bottom: 16px;
            left: 0px;
        };

        li {
            margin-bottom: 4px;
        }
    }

    a {
        color: material-color("blue", "a200");
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    i, em {
        font-style: italic;
    }

    b, strong {
        font-weight: bold;
    }

    code {
        font-family: "Roboto Mono", "Droid Sans Mono", "Monaco", monospace;
        background-color: #f5f5f5;
        border-radius: 2px;
        padding: 1px 4px;
        margin: 0px 2px;
    }

    pre {
        margin: 16px 0px;
        white-space: pre-wrap;

        code {
            display: block;
            font-size: 10pt;
            padding: 8px;
            margin: 0px;
            overflow-x: auto;
        }
    }

    > img {
        border-radius: 2px;
    }

    ::selection {
        background-color: material-color("blue", "a100");
    }
}
