@import "material";

body {
    @include material-text("Body");
    
    font-family: "Roboto", "Noto Sans", "Arial", "Helvetica", sans-serif;
    background-color: #fafafa;
    color: $primary-text-color;
    margin: auto;
    @media screen and (max-width: $max-mobile-size) {
        html & {
            margin: {
                left: 16px;
                right: 16px;
            }
            max-width: none;
        }
    }
    margin-top: 320px;
    max-width: 65vw;
}

#main-header {
    @include material-elevation(0);
    
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: 1;
    user-select: none;
    background-color: transparent;
    transition: background-color 150ms $swift-out, box-shadow 275ms $swift-out;
    
    &.scrolled {
        @include material-elevation(2);
        
        background-color: #f5f5f5;
        transition: background-color 75ms $swift-out;
    }
}

#primary-title {
    @include material-text("Display 4");
    
    font-family: "Roboto Mono", "Fira Mono", "Droid Sans Mono", "Monaco", monospace;
    text-align: center;
    padding: 0px;
    margin: 75px 0px;
    transition: margin 275ms $swift-out, font-size 275ms $swift-out, height 275ms $swift-out, padding 275ms $swift-out;
    
    img {
        height: 140px;
        transition: height 200ms $swift-out;
    }
    
    header.scrolled & {
        margin: 0px;
        font-size: 0px;
        height: 24px;
        padding: 20px;
        
        img {
            height: 28px;
            margin: {
                top: -2px;
                right: 0px;
                bottom: -2px;
                left: 0px;
            };
        }
    }
    
    @media screen and (max-width: 449px) {
        @include material-text("Display 3");
        
        img {
            height: 112px;
        }
    }
    
    @media screen and (max-width: 369px) {
        img {
            height: 77px;
        }
    }
    
    @media screen and (max-width: 259px) {
        img {
            height: 56px;
        }
    }
}

.card {
    @include material-elevation(2);
    
    margin: 16px;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 2px;
    
    .mdl-cell & {
        margin: 0px;
    }
}

#tab-bar {
    @include material-text("Button");
    
    position: relative;
    margin-top: -48px;
    height: 48px;
    z-index: 2;
    
    header.scrolled + & {
        z-index: 0;
    }
    
    &:focus, :focus {
        outline: none;
    }
}

#content {
    margin-top: 16px;
    position: relative;
    
    .page {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        opacity: 1;
        transition: opacity 275ms $swift-out 275ms;
        
        &:not(.selected) {
            opacity: 0;
            transition: opacity 275ms $swift-out;
        }
        
        &.hidden {
            display: none;
        }
    }
}
